<div class="container-fluid" style="padding: 20px 20px">
  <h3 style="display: inline-block">STUDENTS</h3>
  <a href="/admin/add_student" style="display:inline-block; float:right"><button class="btn btn-sm ml-auto">&plus;&ensp;Add Student</button></a>
  <hr>
  <div class="admin_faculty_table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Student Number</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
          <tr>
            <td>{{this.snumber}}</td>
            <td>{{this.fname}} {{this.lname}}</td>
            <td>{{this.semail}}</td>
            <td>{{this.sphone}}</td>
            <td><a href="/admin/student/{{this.id}}">view</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
