<div class="container-fluid" style="padding: 20px 20px">
  <div class="admin_faculty_header">
    <h3 style="display: inline-block">MY CLASSES</h3>
    <a href="/admin/add_class" style="display:inline-block; float:right"><button class="btn btn-sm ml-auto">&plus;&ensp;Add Students</button></a>
    <hr>
  </div>
  <div class="admin_faculty_table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            {{!-- <th>ID</th> --}}
            <th>Batch</th>
            <th>Section</th>
            <th>Year Level</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each classList}}
          <tr>
            {{!-- <td>{{this.class_id}}</td> --}}
            <td>{{this.batch}}</td>
            <td>{{this.section}}</td>
            <td>{{this.year_level}}</td>
            <td><a href="/faculty/classes/{{this.class_id}}">view</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
